@import '../common/styles/sass/variables';


.myWorksBlock {
  min-height: 100vh;
  background: $backGroundSecondColor;
  position: relative;

  .myWorksContainer {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;

    .myWorks {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 50px;
      align-items: flex-start;

      &::after {
        position: absolute;
        background: $primaryColor;
        width: 80px;
        height: 150px;
        content: '';
        left: -00px;
        transform: translate(-50%, 50%);
      }

      @media screen and (max-width: 894px) {
        justify-content: center;

      }
    }
  }
}

