.myWorksBlock {
    min-height: 100vh;
    background-color: midnightblue;
}

.myWorksContainer {
    flex-direction: column;
    justify-content: flex-start;
flex-wrap: nowrap;
}

.title {
    background-color: gray;
}

.myWorks {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 1px solid;
    flex-wrap: wrap;
}
@media screen and (max-width:  894px){
.myWorks{
    justify-content: center;
}
}