.header {
  height: 7vh;
  background-color: #3C3C3C;
  opacity: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 2;
  width: 100%;

  .myName {
    color: #ffffff;
    font-family: 'Calligraffitti', cursive;
    padding-left: 20px;
    font-size: 25px;
  }
}

