.work {
    width: 350px;
    border: 1px solid;
    background-color: wheat;

}


.project {
    display: flex;
    flex-direction: column;

}

.imgContainer {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://img.freepik.com/premium-photo/sea-and-beach-background-with-copy-space_87394-13450.jpg);
    background-size: cover;
}

/*.img {*/
/*    width: 100%;*/
/*    height: 200px;*/
/*    text-align: center;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*}*/

.button {
    width: 100px;
    background-color: lightgrey;
    height: 30px;
    text-align: center;
}


.titleProject {
    background-color: gray;
    margin: 5px;
    width: 35%;
}

.description {
    background-color: gray;
    margin: 5px;
}