.distantWorkBlock {
    background-color: rgba(243, 149, 235, 0.39);

}

.distantWorkContainer {
    display: flex;
    flex-direction: column;
    height: 200px;
    text-align: center;
}

.but {
    background-color: rgba(222, 138, 215, 0.71);
    width: 130px;
    height: 35px;
    text-align: center;
    padding-top: 9px;
    font-weight: bold;
}