.distantWorkBlock {
  background: #EA4343;
  min-height: 30vh;

  .distantWorkContainer {
    display: flex;
    flex-direction: column;
    text-align: center;

    .title {
      color: #fff;
      font-family: 'Calligraffitti', cursive;
      font-size: 50px;
    }
  }
}
