@import "./src/common/styles/sass/variables";

.title {
  font-family: 'Calligraffitti', cursive;
  margin: 0;
  color: $textColor;
  font-size: 30px;
  position: relative;

  &:after {
    position: absolute;
    top: 120px;
    background: $primaryColor;
    width: 350px;
    height: 2px;
    content: '';
    left: 50%;
    transform: translate(-50%, 50%);
  }
}

