.skillsBlock {
  min-height: 100vh;
  background-color: #333232;

  .skillsContainer {
    flex-direction: column;
    justify-content: flex-start;

    .skills {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      @media screen and (max-width: 644px) {
        justify-content: center;
      }
    }
  }
}

