@import './src/common/styles/sass/variables';

.mainBlock {
  height: 100vh;
  background-size: cover;

  .text {
    background: $backGroundSecondColor;
    opacity: 90%;
    //width: 38vw;
    font-family: 'Calligraffitti', cursive;
    padding-bottom: 50px;
    padding-left: 130px;
    padding-right: 130px;
    border-bottom-right-radius: 45px;
    border-top-right-radius: 45px;
    position: relative;
    left: -150px;
    color: $textColor;
    font-size: 30px;
    font-weight: bold;
    @media screen and (max-width: 615px) {
      width: 100vw;
      left: 0;
    }

    .orangeText {
      color: $primaryColor;
    }
  }
}




