.footerBlock {
    background: #333232;
    font-family: 'Hind Madurai', sans-serif;
    color: white;
    font-size: 15px;
}

.footerContainer {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.contant {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}

.table {
    /*border: 1px solid;*/
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    color: #726868;
}

.divTel {
    padding: 5px;
    border-radius: 10px;
    background-color: lightgrey;
    width: 20vh;
    height: 80px;
}

.icon {
    width: 17px;
}

.divs {

}